body {
    font-family: 'Quicksand', sans-serif;
    color: #292929;;
    background-color:white;
    margin: 0px;
   }
  
   #no-margin {
    margin: 0px;
   }

   /*TEXT STYLES*/
   header {
    display: flex;
    color: white;
   }

  /*TAMAÑO DE IMAGENES PARA CAMBIO CON MEDIA QUERY*/
   .tiny-img {
    width: 50px;
    height: 50px;
   }

   .img {
    width: 100px;
    height: 100px;
  }

  .funfact-img {
    width: 100px;
    height: 100px;
  }

  .five-img {
    width: 100px;
    height: 100px;
  }

  .rectangle-img {
    width: 165px;
    height: 120px;
  }

  .big-rect-img {
    width: 310px;
    height: 150px;
  }

/* FONT SIZING & STYLIING */
   .huge-text {
    font-family: 'Yeseva One', cursive;
    font-size: 48px;
   }

   .title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
   }

   .subtitle {
    font-size: 24px;
    font-weight: 500; /* no se activa la tipografia bold */
   }

   p {
    font-size: 16px;
   }

   .secondary-typography {
    font-family: 'Yeseva One', cursive;;
   }

   .bold-typography {
    font-weight: 700;
   }

   footer {
    color: #004673
   }

  
   .padre {
    margin: 24px;
    
   }


 /*FLEX BOXES*/
   .flex-hijo-fixed-dimention {
    display: flex;
    flex: 4;
    border-radius: 0px;
    flex-direction: column;
    height: 100vh;
    width: 100vw ;
    padding: 24px;
    margin-bottom: 24px;
   }

   .flex-hijo {
    display: flex;
    flex: 4;
    /* background-color: #F4F4F4;*/
    border-radius: 24px;
    flex-direction: column;
   /* height: 100vh;*/
    padding: 24px;
    margin: 12px;
   }

   .flex-nieto {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 24px;
    width: 250px;
    justify-content: center;
   }

   .flex-row-content {
    display: flex;
    margin: 12px;
    column-gap: 12px;
    flex-direction: row; 
   /* background-color: white; */
   /* flex-wrap: wrap; */
   /* justify-content: center; */
   /* padding: 12px;*/ 
   }

   .about-me {
    display: flex;
    margin: 12px;
    column-gap: 12px;
    flex-direction: row; 
    }


   .flex-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    border-radius: 24px;
    padding: 24px;
    flex: 4;


   }

   
   .center-text {
    display: flex;
    text-align: center;
   }

   .background-color-lightGrey {
    display: flex;
    background-color:#F4F4F4 ;
   }

   .background-color-blueViolet {
    display: flex;
    /*background-color:blueviolet ;*/

    background-image: linear-gradient(70deg, blue, pink);

    
    animation: movimiento 5s linear infinite alternate;

    @keyframes movimiento {
      from {
        background-position: 0 0;
      }
      to{
        background-position: 100% 100%;
      }
    }
   }

   .justify-content-center {
    display: flex;
    justify-content: center;
   }

   .wrap {
    display: flex;
    flex-wrap: wrap;
   }
   


   /*BUTTONS*/
   .btn {
    all:unset;
    font-family:'Quicksand', sans-serif;
    display:inline-block;
    max-width:250px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background-color:#00FFF0    ;
    color:#000000;
    font-size:17px;
    border-radius:21px;
    padding:0 28px;
    font-weight:bold;
    height:42.5px;
    cursor:pointer;
    line-height:42.5px;
    text-align:center;
    margin: 12px;;
    text-decoration:none;
   }

.position-relative {
  position: relative;
}

.big-highlight {

  background-color: #D0FF14;

}


.below-positioning {
  top: 86%;
}

.mid-positioning {
  top: 81.5%;
}

.top-positioning {
  top: 77%;
}


/*FOR DESKTOP*/
@media only screen and (min-width: 600px) {

  .huge-text {
    font-size: 80px;
  }

  .title {
    font-size: 42px;
   }

   .subtitle {
    font-size: 32px;
   }

   p {
    font-size: 24px;
   }

   .img {
    width: 200px;
    height: 200px;
   }

   .big-rect-img {
    width: 500px;
    height: 250px;
  }

  .rectangle-img {
    width: 465px;
    height: 320px;
  }

  .about-me {
    display: flex;
    margin: 12px;
    column-gap: 12px;
    flex-direction: column; 
    background-color: #D0FF14;
   flex-wrap: wrap;
   justify-content: center;
   padding: 12px; 
   width: 350px;
   align-content: center;
   border-radius: 12px;
    }

}


@media only screen and (min-width: 900px) {

  
  .huge-text {
    font-size: 100px;
  }

  .flex-hijo {
    flex-direction: row;
  }

  .img {
    width: 300px;
    height: 300px;
   }
}

