body {
    font-family: 'Quicksand', sans-serif;
    color: #505050;;
    background-color:white;
    margin: 12px;
   }
  
   header {
    color: white;
   }

   .huge-text {
    font-family: 'Yeseva One', cursive;
    font-size: 48px;
   }

   .title {
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
   }

   .subtitle {
    font-size: 24px;
    font-weight: 500; /* no se activa la tipografia bold */
   }

   p {
    font-size: 16px;
   }

   .bold-typography {
    font-weight: 700;
   }

   .flex-padre {
    display: flex;
    column-gap: 12px;
   }

   .flex-hijo-centered-colored {
    display: flex;
    flex: 4;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 12px;
    flex-direction: column;
    align-content: center;
    text-align: center;
    height: 100vh;
    width: 100vw ;
    padding: 24px;
    margin-bottom: 12px;
   }

   .flex-hijo-lightGrey {
    display: flex;
    flex: 4;
   background-color: #F4F4F4;
    border-radius: 24px;
    flex-direction: column;
   /* height: 100vh;*/
    padding: 24px;
    margin-bottom: 12px;
   }

   .flex-hijo-transparente {
    display: flex;
    flex: 4;
    border-radius: 24px;
    flex-direction: column;
   /* height: 100vh;*/
    padding: 24px;
    margin-bottom: 12px;
   }

   /*
   .flex-img {
    display: flex;
    height: 168px;
    width: 228px;
    padding: 24px;
   }
   */
    
   .flex-row-content {
    display: flex;
   /* background-color: white; */
    column-gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
   }

  /* .flex-toTheLeft {
    display: flex;
    
   } */
   

   .flex-nieto {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    margin: 6px;
    padding: 24px;
    width: 364px;
   }




