.btn {
    all:unset;
    font-family:'Quicksand', sans-serif;
    display:inline-block;
    max-width:250px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    background-color:var(--background-color-blue);
    color:var(--color-black);
    font-size:var(--triple-unit);
    border-radius:var(--cuadriple-unit);
    padding:0 var(--cuadriple-unit);
    font-weight:bold;
    height:42.5px;
    cursor:pointer;
    line-height:42.5px;
    text-align:center;
    margin: var(--double-unit);
    text-decoration:none;
   }

   .btn:hover {
    background-color: var(--background-color-yellow);
    transform: scale(1.1); 
   }


   .btn-circular {
    all:unset;
    display:inline-block;
    border-radius: 50%;
    padding: var(--double-unit);
    height:45px;
    width: 45px;
    cursor:pointer;
    margin: var(--double-unit);
    text-decoration:none;
   }


  .btn-circular:hover {
    transform: scale(1.5); 
  }
