.tiny-img {
    width: 50px;
    height: 50px;
   }

   .img {
    width: 100px;
    height: 100px;
  }

  .five-img {
    width: 150px;
    height: 160px;
  }
  .img-1 {
    width: 100px;
    height: 100px;
   }

  .funfact-img {
    width: 120px;
    height: 120px;
  }

  .rectangle-img {
    width: 165px;
    height: 120px;
  }

  .big-rect-img {
    width: 280px;
    height: 150px;
  }

  @media only screen and (min-width: 600px) {

    .img {
     width: 200px;
     height: 200px;
     transition: opacity 0.2s linear;
    }
 
    .big-rect-img {
     width: 450px;
     height: 250px;
   }
 
   .rectangle-img {
     width: 465px;
     height: 320px;
   }
  }

  @media only screen and (min-width: 900px) {

    .img {
      width: 300px;
      height: 300px;
     }
  
     
    .img-1 {
      width: 200px;
      height: 200px;
     }
  }