body {
    font-family: 'Quicksand', sans-serif;
    color: #292929;
    background-color:var(--background-color-white);
    margin: 0px;
   }
  
   #no-margin {
    margin: 0px;
   }

   header {
    display: flex;
    color: var(--color-white);
   }

   /* CONTENEDORES */
   .flex-hijo-fixed-dimention {
    display: flex;
    flex: 4;
    border-radius: 0px;
    flex-direction: column;
    height: 95vh;
    width: 100vw ;
    padding: var(--cuadriple-unit);
    margin-bottom: var(--cuadriple-unit);
   }

   .flex-hijo {
    display: flex;
    flex: 4;
    border-radius: var(--cuadriple-unit);
    flex-direction: column;
    padding: var(--cuadriple-unit);
    margin: var(--doble-unit);
   }

   .flex-nieto {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-white);
    border-radius: var(--unit);
    margin-bottom: var(--unit);
    padding: var(--cuadriple-unit);
    width: 250px;
    justify-content: center;
 
   }

   .flex-row-content {
    display: flex;
    column-gap: var(--cuadriple-unit);
    flex-direction: row;
    gap: var(--unit);
   }

   .about-me {
    display: flex;
    margin: var(--double-unit);
    column-gap: var(--double-unit);
    justify-content: center;
    }


   .flex-column {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--cuadriple-unit);
    border-radius: var(--cuadriple-unit);
    padding: var(--cuadriple-unit);
    flex: 4;
   }

   @media only screen and (min-width: 600px) {

    .about-me {
        display: flex;
        margin: var(--doble-unit);
        column-gap: var(--doble-unit);
        flex-direction: column; 
        background-color:var(--color-lightgrey);
        justify-content: center;
        padding: var(--doble-unit);
        width: 240px;
        align-content: center;
        border-radius: var(--doble-unit);
        text-align: center;
      }
  
    .flex-nieto {
      height: 385.5px;
    }
}


@media only screen and (min-width: 900px) {
  
    .flex-hijo {
      flex-direction: row;
    }
}