body {
    font-family: 'Quicksand', sans-serif;
    color: #292929;;
    background-color:white;
    margin: 0px;
   }
  
   #no-margin {
    margin: 0px;
   }

   header {
    display: flex;
    color: white;
   }

   /* CONTENEDORES */
   .flex-hijo-fixed-dimention {
    display: flex;
    flex: 4;
    border-radius: 0px;
    flex-direction: column;
    height: 95vh;
    width: 100vw ;
    padding: 24px;
    margin-bottom: 24px;
   }

   .flex-hijo {
    display: flex;
    flex: 4;
    border-radius: 24px;
    flex-direction: column;
    padding: 24px;
    margin: 12px;
   }

   .flex-nieto {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 6px;
    padding: 24px;
    width: 250px;
    justify-content: center;
 
   }

   .flex-row-content {
    display: flex;
    column-gap: 24px;
    flex-direction: row;
    gap: 5px;
   }

   .about-me {
    display: flex;
    margin: 12px;
    column-gap: 12px;
    justify-content: center;
    }


   .flex-column {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    border-radius: 24px;
    padding: 24px;
    flex: 4;
   }