.padre {
    margin: var(--cuadriple-unit);
   }

   .center-text {
    display: flex;
    text-align: center;
   }

   .background-color-lightGrey {
    display: flex;
    background-color:var(--color-lightgrey);
   }

   .bg-color-purple {
    display: flex;
    background-color:var(--color-purple);
    color: var(--color-white);
    
   }

   .background-color-blueViolet {
    display: flex;

    background-image: linear-gradient(70deg, var(--color-darkblue) , var(--color-pink));
    
    animation: movimiento 5s linear infinite alternate;

    }


   .justify-content-center {
    display: flex;
    justify-content: center;
   }

   .wrap {
    display: flex;
    flex-wrap: wrap;
   }
   
   .big-highlight {
    color:var(--color--black);
    background-color: var(--color-yellow);
    font-weight: bolder;
  }


  @media only screen and (min-width: 600px) {

    .wrap {
    align-content: center;
    justify-content: center;
    }
  
    .full-margin {
      margin: 0 300px 0 300px;
    }
    }
